<br><br>
<section id="content" ng-init="setState('acesso-menu', 'acesso-estabelecimento'); onLoad()">
  <div class="container">
    <div class="row">
      <div class="col s12 m6 offset-m3">
        <div class="card">
          <div class="card-content">
              <br>
              <br>
              <h5 class="center">Acesso Estabelecimento</h5>
              <br>
              <form class="container">
                <div class="row">
                  <div class="input-field col s12">
                    <input id="usuario" type="text">
                    <label for="usuario">Usuario</label>
                  </div>
                </div>
                <div class="row">
                  <div class="input-field col s12">
                    <input id="senha" type="password" class="validate">
                    <label for="senha">Senha</label>
                  </div>
                </div>
                <br>
                <div class="row center">
                  <a class="waves-effect waves-light btn yellow darken-2" ng-click="doLogin()"><i class="material-icons right">done</i>Entrar</a>
                </div>
              </form>
              <br>
              <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
