/* Fonts */

@font-face {
    font-family: 'Arapey-Regular';
    src: url('../fonts/Arapey-Regular.ttf') format('truetype');
}
@font-face {
    font-family: 'Arapey-Italic';
    src: url('../fonts/Arapey-Italic.ttf') format('truetype');
}

/* Logo */

.fkd-font-title {
    font-family: 'Arapey-Italic';
    font-size: 24px!important;
    font-weight: 500!important;
    /*padding-bottom: 3px;*/
}

/* Input */

.input-error {
    border-bottom-color: red!important;
}

/* NavBar */

.nav-ztop {
    z-index: 1000!important;
}

/* Menu */

.active-collapsible {
    background-color: black!important;
}

/* Angular Link */

[ng-click], [data-ng-click], [x-ng-click] {
    cursor: pointer;
}

/* Lista */

i.info-hover:hover {
    color: #6699CC;
}
i.delete-hover:hover {
    color: #ee6e73;
}

/* Breadcrumb */

.breadcrumb:before {
    color: black!important;
}
.breadcrumb-hover:hover {
    /*text-decoration: underline;*/
    border-bottom: 2px solid #000;
    padding-bottom: 3px;
}
