<section id="content" ng-init="setState('administrativo-menu', 'administrativo-editar-estabelecimento'); onLoad(); adminOnLoad()">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <nav class="yellow darken-2">
            <div class="nav-wrapper">
              <div class="col s12">
                <a class="breadcrumb black-text" ui-sref="administrativo-gerenciar-estabelecimento"><span class="breadcrumb-hover">Gerenciar Estabelecimentos</span></a>
                <a class="breadcrumb black-text">Informações do Estabelecimentos</a>
              </div>
            </div>
          </nav>
          <div class="card-content">
            <div class="row">
              <div class="col s8">
                <div>
                  <table class="highlight">
                    <tr>
                      <th>
                        Nome:
                      </th>
                      <td>
                        {{estabelecimentoSelect.nome}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        CNPJ:
                      </th>
                      <td>
                        {{estabelecimentoSelect.cnpj}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Segmento:
                      </th>
                      <td>
                        {{estabelecimentoSelect.segmento}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Endereço:
                      </th>
                      <td>
                        {{estabelecimentoSelect.endereco}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Número:
                      </th>
                      <td>
                        {{estabelecimentoSelect.numero}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Complemento:
                      </th>
                      <td>
                        {{estabelecimentoSelect.complemento}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Bairro:
                      </th>
                      <td>
                        {{estabelecimentoSelect.bairro}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        CEP:
                      </th>
                      <td>
                        {{estabelecimentoSelect.cep}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Email:
                      </th>
                      <td>
                        {{estabelecimentoSelect.email}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Telefone:
                      </th>
                      <td>
                        {{estabelecimentoSelect.telefone}}
                      </td>
                    </tr>
                    <tr>
                      <th>
                        Site:
                      </th>
                      <td>
                        {{estabelecimentoSelect.site}}
                      </td>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
