<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation" style="width: 280px;">
    <li class="user-details yellow darken-2" style="margin-top:-10px">
      <div class="row">
          <strong>Administrativo</strong>
          <div class="divider black" style="margin-right:15px"></div>
          <span><i class="material-icons left" style="padding-top:8px">person</i>{{usuario.usuario}}</span>
      </div>
    </li>
    <!-- <li class="bold" id="Teste"><a class="waves-effect waves-cyan"><i class="material-icons left">person</i> Gerenciar Admins</a></li>
    <li class="bold" id="Teste"><a class="waves-effect waves-cyan"><i class="material-icons left">local_offer</i> Gerenciar Estabelecimentos</a></li>
    <li class="bold" id="Teste"><a class="waves-effect waves-cyan"><i class="material-icons left">work</i> Gerenciar Empresas</a></li> -->
    <li class="no-padding">
      <ul class="collapsible" data-collapsible="accordion" watch>
        <li class="bold"><a id="gerenciarAdmins" class="collapsible-header waves-effect waves-cyan"><i class="material-icons left">person</i>Admins</a>
          <div class="collapsible-body" style="">
            <ul>
              <li id="adicionar-admin"><a ui-sref="administrativo-adicionar-admin"><i class="material-icons left">add_box</i> Adicionar</a></li>
              <li id="gerenciar-admin"><a ui-sref="administrativo-gerenciar-admin"><i class="material-icons left">view_list</i> Gerenciar</a></li>
            </ul>
          </div>
        </li>
        <li class="bold"><a id="gerenciarEstabelecimentos" class="collapsible-header waves-effect waves-cyan"><i class="material-icons left">local_offer</i>Estabelecimentos</a>
          <div class="collapsible-body" style="">
            <ul>
              <li id="adicionar-estabelecimento"><a ui-sref="administrativo-adicionar-estabelecimento"><i class="material-icons left">add_box</i> Adicionar</a></li>
              <li id="gerenciar-estabelecimento"><a ui-sref="administrativo-gerenciar-estabelecimento"><i class="material-icons left">view_list</i> Gerenciar</a></li>
            </ul>
          </div>
        </li>
        <li class="bold"><a id="gerenciarEmpresas" class="collapsible-header waves-effect waves-cyan"><i class="material-icons left">work</i>Empresas</a>
          <div class="collapsible-body" style="">
            <ul>
              <li id="adicionar-empresa"><a ui-sref="administrativo-adicionar-empresa"><i class="material-icons left">add_box</i> Adicionar</a></li>
              <li id="gerenciar-empresa"><a ui-sref="administrativo-gerenciar-empresa"><i class="material-icons left">view_list</i> Gerenciar</a></li>
            </ul>
          </div>
        </li>
      </ul>
    </li>
  </ul>
</aside>
