<section id="content" ng-init="setState('administrativo-menu', 'administrativo-gerenciar-estabelecimento'); onLoad(); adminOnLoad()">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <div class="card">
          <nav class="yellow darken-2">
            <div class="nav-wrapper">
              <div class="col s12">
                <a class="breadcrumb black-text">Gerenciar Estabelecimentos</a>
              </div>
            </div>
          </nav>
          <div class="card-content">
            <div>
              <table class="highlight">
                <thead>
                  <tr>
                    <th>id</th>
                    <th>Nome</th>
                    <th>Segmento</th>
                    <th>Bairro</th>
                    <th class="center"><!-- Info --></th>
                    <th class="center"><!-- Remover --></th>
                  </tr>
                </thead>

                <tbody>
                  <tr ng-repeat="e in estabelecimentosList | orderBy: 'id_estabelecimento'">
                    <td>{{e.id_estabelecimento}}</td>
                    <td>{{e.nome}}</td>
                    <td>{{e.segmento}}</td>
                    <td>{{e.bairro}}</td>
                    <td class="center"><i tooltipped data-position="top" data-delay="150" data-tooltip="Mais informações" class="material-icons info-hover" ng-click="">info_outline</i></td>
                    <td class="center"><i tooltipped data-position="top" data-delay="150" data-tooltip="Remover" class="material-icons delete-hover" ng-click="">delete_forever</i></td>
                  </tr>
                </tbody>
              </table>
              <div id="estabelecimentosLoader" class="progress yellow darken-2">
                <div class="indeterminate black"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
