<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation" style="width: 280px;">
    <li class="user-details yellow darken-2" style="margin-top:-10px">
      <div class="row">
          <span>Acesso</span>
      </div>
    </li>
    <li class="bold" id="administrativo"><a class="waves-effect waves-cyan" ui-sref="acesso-administrativo"><i class="material-icons left">person</i> Administrativo</a></li>
    <li class="bold" id="estabelecimento"><a class="waves-effect waves-cyan" ui-sref="acesso-estabelecimento"><i class="material-icons left">local_offer</i> Estabelecimento</a></li>
    <li class="bold" id="empresa"><a class="waves-effect waves-cyan" ui-sref="acesso-empresa"><i class="material-icons left">work</i> Empresa</a></li>
  </ul>
</aside>
