<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation" style="width: 280px;">
    <li class="user-details yellow darken-2" style="margin-top:-10px">
      <div class="row">
          <strong>Administrativo</strong>
          <div class="divider black" style="margin-right:15px"></div>
          <span><i class="material-icons left" style="padding-top:8px">person</i>{{usuario.usuario}}</span>
      </div>
    </li>
    <li class="bold" id="Teste"><a class="waves-effect waves-cyan"><i class="material-icons left">person</i> Gerenciar Admins</a></li>
    <li class="bold" id="Teste"><a class="waves-effect waves-cyan"><i class="material-icons left">local_offer</i> Gerenciar Estabelecimentos</a></li>
    <li class="bold" id="Teste"><a class="waves-effect waves-cyan"><i class="material-icons left">work</i> Gerenciar Empresas</a></li>
  </ul>
</aside>
