<aside id="left-sidebar-nav">
  <ul id="slide-out" class="side-nav fixed leftside-navigation" style="width: 280px;">
    <li class="user-details yellow darken-2" style="margin-top:-10px">
      <div class="row">
          <span>Administrativo</span>
          <br>
          <span>{{usuario.usuario}}</span>
      </div>
    </li>
    <li class="bold" id="Teste"><a class="waves-effect waves-cyan"><i class="material-icons left">person</i> Teste</a></li>
    <li class="bold" id="Teste"><a class="waves-effect waves-cyan"><i class="material-icons left">local_offer</i> Teste</a></li>
    <li class="bold" id="Teste"><a class="waves-effect waves-cyan"><i class="material-icons left">work</i> Teste</a></li>
  </ul>
</aside>
